.colonne
{
    display:flex;
    flex-direction: column;
    width:300px;
}

#faire_un_don
{
    display:flex;
    justify-content: space-around;
    width:1300px;
    margin-bottom:300px;
}


#grand_titre
{
    margin:50px 0px;
}

.title_fairedon
{
    padding-bottom: 40px;
    margin: 30px 0px 50px 0px;
    border-radius: 5px;
    font-size: 1.6em;
    border-bottom: 1px solid #d6d6d6;
}

input
{
    margin:5px 0px;
}

legend
{
    font-size:1.15em;
    color:black;
}

#modePaiement
{
    display:flex;
    justify-content: space-around;
    /*width:200px;*/
}

#colonnePaiement
{
    display:flex;
    flex-direction:column;
    align-items:baseline;
}

img
{
    margin: 10px 0px;
}

#dateCarte
{
    display:flex;
}