#un_projet
{
    box-shadow: 0px 0px 1px 0px;
    width:950px;
    padding: 0px 50px;
}

#titre_projet
{
    padding: 20px;
}

a
{
    text-decoration: none;
    color:black;
}

#imageUnProjet
{ 
    margin-top: 22px;
    box-shadow: 2px 2px 3px grey;
}